PORT=5000
MONGO_URI=your_mongodb_atlas_connection_string
JWT_SECRET=clt_academy_test_key_998877

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Brevo SMTP Configuration
BREVO_SMTP_HOST=your_brevo_smtp_host
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_smtp_username
BREVO_SMTP_PASS=your_brevo_smtp_password

